* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: #1A1D23;
  color: #D7D7D7;
}

body, button, input, select, textarea {
  font: 400 1rem Inter, sans-serif;
}

h1, h2, strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
